.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: linear-gradient(103.22deg, #4fc1b1 -13.86%, #ed9d62 99.5%);
}

.cta-content p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.cta-content h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.cta-btn button {
    background: black;
    border-radius: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .cta {
        flex-direction: column;
    }

    .cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cta {
        margin: 4rem 2rem;
    }

    .cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}